:host{
    ngx-flip{
    @media screen and (max-width: 600px) {
        height: 124px;
    }
      height: 145px;
      .front{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .back{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

@media only screen and (max-width: 600px) {
    div.card {
        width: 85px;
        height: 124px;
    }
    img {
        width: 85px;
    }
}

@media only screen and (min-width: 600px) {
    div.card {
        width: 100px;
        height: 145px;
    }
    img {
        width: 100px;
    }
}

