button {
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    height: 40px;
    width: 100px;
    margin: 2px;
}

button:hover {
    border: solid 2px white;
}

button:focus {
    outline:0;
}

button.hit {
    background-color: orange;
}

button.hit:active{
    background-color: darkorange;
}

button.stay {
    background-color: red;
}

button.stay:active {
    background-color: darkred;
}

button.deal {
    background-color: green;
}

button.deal:active {
    background-color: darkgreen;
}

div.message {
    font-family: sans-serif;
    border: none;
    color: white;
    font-size: 1.5em;
    height: 40px;
    margin: 2px;
}

div.message * {
    vertical-align: -webkit-baseline-middle
}
